.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #45C5D0;
}

.contNav{
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;

}
.contSvg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 15%;
}
.iconoSvg{
  color: #45C5D0;
    overflow: visible;
    stroke: #103194;
    stroke-width: 0.2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.titulo{
    color: #103194;
}



.contInput{
    
    width: 18%;
   display: flex;
   justify-content: space-evenly;

}

input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.4rem;
   
}

.btn{
    border-radius: 10px;
}

@media (max-width: 930px){

    .contNav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 1rem;
    }

}